@import '../../styles/variable';

.container {
  @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputWrapper {
    margin-bottom: 10px;
    position: relative;
  }

  .errorMsg {
    color: $color-error;
  }
}
