@import "../../styles/variable";

.container {
   @extend %container;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.card {
   width: 300px;
   min-height: 400px;
   position: relative;
   perspective: 1000px;
   margin-bottom: 10px;

   .cardContent {
      overflow-y: auto;
   }

   .front, .back {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      backface-visibility: hidden;
      background-color: #fff;
      border: 3px solid $color-accent;
      box-shadow: 1px 1px 1px 1px rgba($color-accent, 0.3);
      background-color: rgba($color-accent, 0.05);
      padding: 50px 10px 10px 10px;

      .cardTitle {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         text-align: center;
      }

      .cardText {
         padding: 10px 0;
         display: block;
         font-weight: 500;
      }
   }

   .back {
      transform: rotateY(180deg);
   }

   &.check .front {
      transform: rotateY(180deg);
   }

   &.check .back {
      transform: rotateY(360deg);
   }

   .front.loading {
      transition: all 0s ease;
      animation: rotate .5s ease-in-out infinite;
      background: $color-accent;
      color: $color-accent;
      .cardText {
         color: $color-accent;
      }
   }
   .front.loading + .back {
      display: none;
   }
}

.gradesBtnGroup {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}


@keyframes rotate {
   from {
      transform: rotateY(360deg);
   }
}